<div class="form-title">
  <h2>Создать новый элемент</h2>
</div>
<div class="form-block">
  <form
    [formGroup]="form"
    class="col"
    (ngSubmit)="submit()"
  >
    <div class="form-block__item">
      <label for="name"> Название <span class="required">*</span></label>
      <input
        pInputText
        formControlName="name"
        type="text"
      />
      <field-error fieldName="name"></field-error>
    </div>
    <div class="form-block__item">
      <label for="country"> Страна происхождения <span class="required">*</span></label>
      <input
        pInputText
        formControlName="country"
        type="text"
      />
      <field-error fieldName="country"></field-error>
    </div>

    <div class="form-block__item">
      <label for="shop"> Магазин <span class="required">*</span></label>
      <input
        pInputText
        formControlName="shop"
        type="text"
      />
      <field-error fieldName="shop"></field-error>
    </div>

    <div class="form-block__item">
      <label for="photo"> Ссылка на фото <span class="required">*</span></label>
      <input
        pInputText
        formControlName="photo"
        type="text"
      />
      <field-error fieldName="photo"></field-error>
    </div>

    <div class="form-block__item">
      <label for="price"> Цена <span class="required">*</span></label>
      <input
        pInputText
        formControlName="price"
        type="text"
      />
      <field-error fieldName="price"></field-error>
    </div>
    <button
      pButton
      label="Создать"
      type="submit"
      class="p-button-accent p-button-lg"
      [disabled]="form.invalid"
    ></button>
  </form>
</div>
